In [46]:
import pandas as pd

In [47]:
import numpy as np

In [48]:
import statsmodels.api as smf

In [49]:
df = pd.read_csv('C:/Users/nikhi/Downloads/trip_rates.csv')

In [50]:
df

     Income  Pop  veh  children  Trip_rates
0       168    7    1         1       10.89
1        17    3    1         2        1.67
2        19   26    1         0        1.91
3        11   52    1         1        1.94
4        78    1    1         1        5.64
..      ...  ...  ...       ...         ...
115       8    2    1         1        1.48
116      31    2    1         0        2.72
117       6    3    1         1        1.26
118     101    1    1         1        6.73
119      49   16    1         1        4.04

[120 rows x 5 columns]

In [51]:
df.describe()

           Income         Pop         veh    children  Trip_rates
count  120.000000  120.000000  120.000000  120.000000  120.000000
mean    49.558333   13.575000    1.241667    1.258333    3.947000
std     49.503551   16.451437    0.594030    0.654600    3.002165
min      3.000000    0.000000    0.000000    0.000000    0.960000
25%     17.000000    4.000000    1.000000    1.000000    2.080000
50%     34.500000    8.000000    1.000000    1.000000    2.980000
75%     59.500000   16.000000    1.250000    2.000000    4.575000
max    294.000000   92.000000    4.000000    3.000000   18.880000

In [52]:
#Linear Regression between Trip rates and Income

In [53]:
df.head()

   Income  Pop  veh  children  Trip_rates
0     168    7    1         1       10.89
1      17    3    1         2        1.67
2      19   26    1         0        1.91
3      11   52    1         1        1.94
4      78    1    1         1        5.64

In [54]:
df.tail()

     Income  Pop  veh  children  Trip_rates
115       8    2    1         1        1.48
116      31    2    1         0        2.72
117       6    3    1         1        1.26
118     101    1    1         1        6.73
119      49   16    1         1        4.04

In [55]:
#Linear Regression between Trip_rates and Income

In [56]:
#H0:Trip_rates does not depend on Income
#H0:Trip_rates does not depend on constant

In [57]:
preds = df['Income']
resp = df['Trip_rates']
preds = smf.add_constant(preds, prepend = True)
mod1 = smf.OLS(resp,preds).fit()
print(mod1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             Trip_rates   R-squared:                       0.987
Model:                            OLS   Adj. R-squared:                  0.987
Method:                 Least Squares   F-statistic:                     9237.
Date:                Sun, 23 Oct 2022   Prob (F-statistic):          6.55e-114
Time:                        21:19:15   Log-Likelihood:                -39.309
No. Observations:                 120   AIC:                             82.62
Df Residuals:                     118   BIC:                             88.19
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.9605      0.044     21.916      0.000       0.874       1.047
Income         0.0603      0.001     96.111      0.000       0.059       0.062
==============================================================================
Omnibus:                        6.934   Durbin-Watson:                   2.356
Prob(Omnibus):                  0.031   Jarque-Bera (JB):                6.561
Skew:                           0.555   Prob(JB):                       0.0376
Kurtosis:                       3.282   Cond. No.                         99.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [58]:
#Linear Regression between Population and Trip rates

In [59]:
#H0:Trip_dates does not depend on Pop
#H0:Trip_rates does not depend on constant

In [60]:
preds = df['Pop']
resp = df['Trip_rates']
preds = smf.add_constant(preds,prepend= False)
mod2 = smf.OLS(resp,preds).fit()
print(mod2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             Trip_rates   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.008
Method:                 Least Squares   F-statistic:                  0.003215
Date:                Sun, 23 Oct 2022   Prob (F-statistic):              0.955
Time:                        21:19:52   Log-Likelihood:                -301.69
No. Observations:                 120   AIC:                             607.4
Df Residuals:                     118   BIC:                             613.0
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Pop            0.0010      0.017      0.057      0.955      -0.032       0.034
const          3.9341      0.357     11.007      0.000       3.226       4.642
==============================================================================
Omnibus:                       80.054   Durbin-Watson:                   1.935
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              383.522
Skew:                           2.416   Prob(JB):                     5.24e-84
Kurtosis:                      10.305   Cond. No.                         27.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [61]:
#H0 y is not dependedent on x, 
# The P value is greater than 0.005 and hence the null hypthesis cannot be rejected
# The trip rates is 95.5% not dependent on Population

In [62]:
#1c.Multilinear Regression Model

In [63]:
#H0:Trip_rates do not depend on Income
#H0:Trip_rates do not depend on Pop
#H0:Trip_rates do not depend on Veh
#H0:Trip_rates do not depend on Constant
#H0:Trip_rates do not depend on constant

In [64]:
Preds = df[['Income','Pop','veh','children']]
resp = df['Trip_rates']
preds = smf.add_constant(preds,prepend='False')
mod3 = smf.OLS(resp,preds).fit()
print(mod3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             Trip_rates   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.008
Method:                 Least Squares   F-statistic:                  0.003215
Date:                Sun, 23 Oct 2022   Prob (F-statistic):              0.955
Time:                        21:21:40   Log-Likelihood:                -301.69
No. Observations:                 120   AIC:                             607.4
Df Residuals:                     118   BIC:                             613.0
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Pop            0.0010      0.017      0.057      0.955      -0.032       0.034
const          3.9341      0.357     11.007      0.000       3.226       4.642
==============================================================================
Omnibus:                       80.054   Durbin-Watson:                   1.935
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              383.522
Skew:                           2.416   Prob(JB):                     5.24e-84
Kurtosis:                      10.305   Cond. No.                         27.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [65]:
preds = df.drop(['Trip_rates'],axis=1)
Resp = df['Trip_rates']
Resp = smf.add_constant(Resp,prepend = False)
results=smf.OLS(y,x).fit().summary()

In [26]:
print(results)

                            OLS Regression Results
==============================================================================
Dep. Variable:             Trip_rates   R-squared:                       0.995
Model:                            OLS   Adj. R-squared:                  0.994
Method:                 Least Squares   F-statistic:                     5351.
Date:                Sun, 23 Oct 2022   Prob (F-statistic):          1.32e-129
Time:                        14:53:07   Log-Likelihood:                 12.212
No. Observations:                 120   AIC:                            -14.42
Df Residuals:                     115   BIC:                           -0.4856
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Income         0.0607      0.000    146.230      0.000       0.060       0.061
Pop            0.0102      0.001      8.140      0.000       0.008       0.013
veh            0.2867      0.036      7.996      0.000       0.216       0.358
children       0.0748      0.033      2.295      0.024       0.010       0.139
const          0.3527      0.062      5.694      0.000       0.230       0.475
==============================================================================
Omnibus:                        0.811   Durbin-Watson:                   1.858
Prob(Omnibus):                  0.667   Jarque-Bera (JB):                0.401
Skew:                          -0.051   Prob(JB):                        0.818
Kurtosis:                       3.265   Cond. No.                         232.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [18]:
df

     Income  Pop  veh  children  Trip_rates
0       168    7    1         1       10.89
1        17    3    1         2        1.67
2        19   26    1         0        1.91
3        11   52    1         1        1.94
4        78    1    1         1        5.64
..      ...  ...  ...       ...         ...
115       8    2    1         1        1.48
116      31    2    1         0        2.72
117       6    3    1         1        1.26
118     101    1    1         1        6.73
119      49   16    1         1        4.04

[120 rows x 5 columns]

In [19]:
preds1

     Income  Pop  veh  children
0       168    7    1         1
1        17    3    1         2
2        19   26    1         0
3        11   52    1         1
4        78    1    1         1
..      ...  ...  ...       ...
115       8    2    1         1
116      31    2    1         0
117       6    3    1         1
118     101    1    1         1
119      49   16    1         1

[120 rows x 4 columns]

In [20]:
df.head()

   Income  Pop  veh  children  Trip_rates
0     168    7    1         1       10.89
1      17    3    1         2        1.67
2      19   26    1         0        1.91
3      11   52    1         1        1.94
4      78    1    1         1        5.64

In [21]:
df.tail()

     Income  Pop  veh  children  Trip_rates
115       8    2    1         1        1.48
116      31    2    1         0        2.72
117       6    3    1         1        1.26
118     101    1    1         1        6.73
119      49   16    1         1        4.04

In [22]:
def Trip_Rates(Income,Pop,veh,children):
    pred_trips_rates = 0.0607*Income+0.0102*Pop+0.2867*veh+0.0748*children+0.3527
    return pred_trips_rates
Trip_Rates(65,20,2,2)

5.225200000000001

In [74]:
#e) significant factors
#the significant factors in the model are Income, children and number of vehicles the owner owns
#Population is not a significant factor as the model shows P=0.955 which is greater than H0 of 0.005.
#R2 is zero for Trip Rates and population linear regression model. Hence the accuracy is poor here.

# Adjusted R2 based analysis
# Adjusted R2 is 0.994 for the multivariate regression model where as independently it is
# Adj R2=-0.008 for population and Adj R2 = 0.987 for income

# The value for population coefficient can be between -0.032 and 0.034 from the regression summary.
# This means the population can have a negative and positive corelation with the trip rates.
# when the coefficient is positive it means higher population will have higher trip rates
# when the coefficient is negative higher population will have lower trip rates.
# The coefficient value can also be zero hence no relationship between population and trip rates.This means
# the model predicts that in some areas the population does not influence the trip rates.

#In the income v/s Trip rates the income is significant because the R2 value is 0.987 promising a good accuracy
#for the model.(High R2 does not always gaurantee a better accuracy, a low R2 can also give us a sense of the
# predictor variable data.

#In the multilinear model income,pop,vehicles and children are all involved.
#The quality of the fitted model is the better than the income and pop independently
#because we have a relationship with all the dependent variables.
#The statistical reasoning is that the R2 value is 0.995 which is greater than 0.90 and hence  gives
#a better accuracy than the linear models.

In [76]:
#f) Among the 3 fitted models i would reccommend the multilinear model because it has all the 
#variables in it.
# The population v/s Trip rates has R2=0 and hence it has poor accuracy
# The income v/s Trip rates has R2 = 0.987 which is better than the population regression model
# The multivariate model has R2 = 0.995 which is greater than 0.987(income regression model) and hence
#better accuracy

#when using a multilinear model then 
# Adjusted R2 based analysis
# Adjusted R2 is 0.994 for the multivariate regression model where as independently it is
# Adj R2=-0.008 for population and Adj R2 = 0.987 for income.
# When using multivariate Adj R2 is a good measure as the model tests efficiency of each variable

In [77]:
#2a)Poisson Regression model

In [78]:
dxf = pd.read_csv('bike_data.csv')

In [79]:
dxf

,Date,TotalBikesCount,Mon,Tue,Wed,Thu,Fri,Sat,Sun,holiday,DayLightHrs,AvgTempInC,PRCP_IN,Dry_Day
0,10/3/2012,3521,0,0,1,0,0,0,0,0,11.277359,5.60,0.0,1
1,10/4/2012,3475,0,0,0,1,0,0,0,0,11.219142,5.65,0.0,1
2,10/5/2012,3148,0,0,0,0,1,0,0,0,11.161038,5.95,0.0,1
3,10/6/2012,2006,0,0,0,0,0,1,0,0,11.103056,6.05,0.0,1
4,10/7/2012,2142,0,0,0,0,0,0,1,0,11.045208,6.05,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2092,6/26/2018,4771,0,1,0,0,0,0,0,0,15.769483,6.30,0.0,1
2093,6/27/2018,4942,0,0,1,0,0,0,0,0,15.763178,6.05,0.0,1
2094,6/28/2018,4387,0,0,0,1,0,0,0,0,15.755520,6.10,0.0,1
2095,6/29/2018,4919,0,0,0,0,1,0,0,0,15.746518,6.35,0.0,1
2096,6/30/2018,1731,0,0,0,0,0,1,0,0,15.736179,6.10,0.0,1

In [108]:
import statsmodels.api as sm
from patsy import dmatrices
y = dxf['TotalBikesCount']
formula = 'TotalBikesCount ~ C(Mon)+C(Tue)+C(Wed)+C(Thu)+C(Fri)+C(Sat)+C(Sun)+C(holiday)+DayLightHrs+AvgTempInC+PRCP_IN+C(Dry_Day)'
y,x = dmatrices(formula,dxf,return_type = 'dataframe')
results = sm.GLM(y,x,family = sm.families.Poisson()).fit().summary()

In [109]:
print(results)

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:        TotalBikesCount   No. Observations:                 2097
Model:                            GLM   Df Residuals:                     2085
Model Family:                 Poisson   Df Model:                           11
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:            -1.1456e+05
Date:                Fri, 21 Oct 2022   Deviance:                   2.0909e+05
Time:                        22:41:48   Pearson chi2:                 2.02e+05
No. Iterations:                     5   Pseudo R-squ. (CS):              1.000
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept           5.6041      0.002   2542.418      0.000       5.600       5.608
C(Mon)[T.1]         1.0308      0.001    980.944      0.000       1.029       1.033
C(Tue)[T.1]         1.0738      0.001   1069.769      0.000       1.072       1.076
C(Wed)[T.1]         1.0725      0.001   1065.102      0.000       1.071       1.074
C(Thu)[T.1]         1.0254      0.001    994.431      0.000       1.023       1.027
C(Fri)[T.1]         0.9188      0.001    860.513      0.000       0.917       0.921
C(Sat)[T.1]         0.2669      0.001    190.796      0.000       0.264       0.270
C(Sun)[T.1]         0.2159      0.001    151.315      0.000       0.213       0.219
C(holiday)[T.1]    -0.5144      0.003   -154.139      0.000      -0.521      -0.508
C(Dry_Day)[T.1]     0.1681      0.001    148.339      0.000       0.166       0.170
DayLightHrs         0.0467      0.000    176.795      0.000       0.046       0.047
AvgTempInC          0.1423      0.001    228.132      0.000       0.141       0.144
PRCP_IN          -110.0698      0.653   -168.496      0.000    -111.350    -108.789
===================================================================================

In [ ]:
#All variables are signifianct here as P=0.000 for all of them.
# On NON-holidays ssuch as mon tue wed thursday friday sat and sun the coefficients are positive meaning
# that on these days the bike count is influenced linearly  and the bike count increases as the non holidays
# increase

In [ ]:
# The HOLIDAYS have a negative coefficient and hence would influence the bike count inversely. This means
# the model would predict that as the number of holidays increase the bike counts would reduce.

In [ ]:
# DayLightHrs and AvgTempInc also influence the bike counts positively. As the day light increases and the Avg
#Temp increases the model showcases that the bike counts in the city would also increase. This is because of the 
#positive coefficients of both DayLightHrs and AvgTempInc.

# PRCP_IN or Precipitation in inches influences the bike counts inversely or as the precipitation increases
# the model predicts that the bike counts in the city would reduce.
# Hence Both the holiday and PRCP_IN have a negative influence on the bike counts

In [111]:
import statsmodels.api as sm
from patsy import dmatrices
y = dxf['TotalBikesCount']
formula = 'TotalBikesCount ~ C(Mon)+C(Tue)+C(Wed)+C(Thu)+C(Fri)+C(Sat)+C(Sun)+C(holiday)+DayLightHrs+AvgTempInC+PRCP_IN+C(Dry_Day)'
y,x = dmatrices(formula,dxf,return_type = 'dataframe')
results = sm.GLM(y,x,family = sm.families.NegativeBinomial()).fit().summary()

In [112]:
print(results)

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:        TotalBikesCount   No. Observations:                 2097
Model:                            GLM   Df Residuals:                     2085
Model Family:        NegativeBinomial   Df Model:                           11
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -18341.
Date:                Fri, 21 Oct 2022   Deviance:                       130.84
Time:                        22:42:10   Pearson chi2:                     116.
No. Iterations:                     7   Pseudo R-squ. (CS):             0.2309
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept           5.4413      0.105     52.010      0.000       5.236       5.646
C(Mon)[T.1]         1.0412      0.057     18.236      0.000       0.929       1.153
C(Tue)[T.1]         1.0693      0.056     19.243      0.000       0.960       1.178
C(Wed)[T.1]         1.0647      0.056     19.166      0.000       0.956       1.174
C(Thu)[T.1]         1.0121      0.056     18.198      0.000       0.903       1.121
C(Fri)[T.1]         0.9013      0.055     16.243      0.000       0.793       1.010
C(Sat)[T.1]         0.2105      0.056      3.783      0.000       0.101       0.320
C(Sun)[T.1]         0.1421      0.056      2.559      0.011       0.033       0.251
C(holiday)[T.1]    -0.5691      0.141     -4.038      0.000      -0.845      -0.293
C(Dry_Day)[T.1]     0.1842      0.054      3.427      0.001       0.079       0.289
DayLightHrs         0.0463      0.014      3.430      0.001       0.020       0.073
AvgTempInC          0.1748      0.032      5.405      0.000       0.111       0.238
PRCP_IN          -115.0602     24.295     -4.736      0.000    -162.678     -67.442
===================================================================================

In [23]:
#H0 is that the response variable that is the bike count is not dependent on any of  the predictor variables i.e
#remaining variables.

In [ ]:
# For both the Poisson and Negative binomial the general relationship between the predictor variables and the
# bike count does not change. The magnitude of the values are however different.

In [17]:
#All variables are signifianct here as P=0.000 for all of them.
# On NON-holidays ssuch as mon tue wed thursday friday sat and sun the coefficients are positive meaning
# that on these days the bike count is influenced linearly  and the bike count increases as the non holidays
# increase

In [ ]:
# The HOLIDAYS have a negative coefficient and hence would influence the bike count inversely. This means
# the model would predict that as the number of holidays increase the bike counts would reduce.

In [ ]:
# DayLightHrs and AvgTempInc also influence the bike counts positively. As the day light increases and the Avg
#Temp increases the model showcases that the bike counts in the city would also increase. This is because of the 
#positive coefficients of both DayLightHrs and AvgTempInc.

# PRCP_IN or Precipitation in inches influences the bike counts inversely or as the precipitation increases,
# the model predicts that the bike counts in the city would reduce.

# Hence Both the holiday and PRCP_IN have a negative influence on the bike counts.

In [ ]:
#2c) Which model would I reccommend for planning purposes?(Poisson or Negative Binomial)

In [ ]:
#Poisson and Negative binomial are both used for count data as the response variable.
# When the mean and variation are far apart then negative binomial is a better fit
# when the mean and variation are at a close range then Poisson is a better fit.

In [34]:
import pandas as pd
df =pd.read_csv('Bike_data.csv')
df
dxf = list(df['TotalBikesCount'])
print(max)
print(min)
print(dxf.index(max))
print(dxf.index(min))

6088
48
587
1909

In [35]:
df.describe()

,TotalBikesCount,Mon,Tue,Wed,Thu,Fri,Sat,Sun,holiday,DayLightHrs,AvgTempInC,PRCP_IN,Dry_Day
count,2097.000000,2097.000000,2097.000000,2097.000000,2097.000000,2097.000000,2097.000000,2097.000000,2097.000000,2097.000000,2097.000000,2097.000000,2097.000000
mean,2636.530281,0.142585,0.142585,0.143062,0.143062,0.143062,0.143062,0.142585,0.026228,11.916135,5.398093,0.000488,0.557463
std,1301.057180,0.349732,0.349732,0.350219,0.350219,0.350219,0.350219,0.349732,0.159851,2.618399,1.080283,0.001060,0.496805
min,48.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.218894,2.500000,0.000000,0.000000
25%,1752.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.372343,4.600000,0.000000,0.000000
50%,2458.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11.804946,5.300000,0.000000,1.000000
75%,3657.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.478440,6.300000,0.000472,1.000000
max,6088.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,15.781095,8.200000,0.008661,1.000000

In [44]:
import numpy as np
dxf = df['TotalBikesCount']
np.mean(dxf)

2636.530281354316

In [45]:
np.var(dxf)

1691942.5609571466

In [ ]:
# The variance in the bike count data is huge i.e from 48 to to 6088 which is a huge variation.
# The mean and variance are also far apart and hence a negative binomial would be a better fit.
# For such variation in the response variable tbe negative binomial is a better fit than poisson model.